<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950428811904-gfjoqiva6hicej81rsnd5nsj2lne389n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950428811904-gfjoqiva6hicej81rsnd5nsj2lne389n</string>
	<key>API_KEY</key>
	<string>AIzaSyDW_X7Y2tr2QZQKYcRyQNcmJDXz4Lookrw</string>
	<key>GCM_SENDER_ID</key>
	<string>950428811904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JungJaeGeun.MyGym</string>
	<key>PROJECT_ID</key>
	<string>mygym-699d3</string>
	<key>STORAGE_BUCKET</key>
	<string>mygym-699d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950428811904:ios:6abc11c560c90c01415c65</string>
</dict>
</plist>